a{
    text-decoration: none;
}
.navbar{
    padding-top: 30px;
    padding-bottom: 30px;
}
.manu_bg{
    background-color: #1C1E53;
}
.manu_bg ul li a{
    padding: 0 16px !important;
    color: #BBBBCB !important;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.manu_bg ul li a:hover{
    color: #FCD980 !important;
}
.manu_bg .contact a{
    font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
color: #fff;
padding: 16px 48px;
background-color: #1C1E53;
border: 2px solid #F4F6FC;
border-radius: 41px;
margin: 16px 16px;
}
.manu_bg .contact a:hover{
    background-color: #FCD980;
    color: black;
    border: 2px solid #FCD980;
}

/* <!-- casestudies part start --> */
#case{
    padding-top: 128px;
}
.case_text h6{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
      
}
.case_text h2{
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 16px;
}
.case_text p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: justify;
    padding-bottom: 48px;
}
.case_img img{
    width: 100%;
}
.case_img2 img{
    width: 100%;
}

.case_img2{
    padding-top: 48px;
}
/* <!-- casestudies part end --> */

/* <!-- project part start --> */
#project{
    padding-top: 96px;
}
.project_text h2{
font-family: Poppins;
font-size: 38px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0em;
text-align: left;

}
.project_text p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 24px;
}
.project_text ul li{
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 28px;
padding-bottom: 16px;
}
.project_img{
    padding: 64px 0;
}
.project_img img{
    width: 100%;
}
.project_img2 img{
    width: 100%;
}
.project_img2{
    padding-top: 96px;
}

/* <!-- project part end --> */

/* <!-- together part start --> */
#together{
    padding: 128px 0;
}
.together_text{
    text-align: center;
}
.together_text h2{
    font-family: Poppins;
    font-size: 45px;
    font-weight: 600;
    line-height: 64px;
      
}
.together_text p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.together_text a{
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    padding: 16px 66px;
    border: 2px solid #000;
    border-radius: 41px;
    color: #000;
}
.together_text a:hover{
    background-color: #FCD980;
    border: 2px solid #FCD980;
}

/* <!-- together part end --> */

/* <!-- footer part start --> */
#footer{
background-color: #1C1E53;
}
.f_logo{
    padding-top: 100px;
}
.f_t p{
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #fff;
margin-top: 22px;
}
.f_t2 h2{
font-family: Poppins;
font-size: 48px;
font-weight: 600;
line-height: 64px;
letter-spacing: 0em;
text-align: left;
color: #fff;
padding-top: 100px;
}
.f_t2 p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #F4F6FC;
}
.f_cotact a{
padding-right: 26px;
}

.f_email{
    display: flex;
    background-color: #FCD980;
    padding: 17px 37px;
}
.f_e_left{
    padding-right: 29px;
}
.f_e_left h4{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    
}
.f_e_left a{
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #000;
}

.f_end{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding-bottom: 32px;
}
.f_left ul{
    list-style: none;
    display: flex;
}
.f_left ul a{
    padding-right: 32px;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 28px;
color: #000;
}
.f_left ul a:hover{
    color: #e8a90b;
    }
/* <!-- footer part end --> */