a{
    text-decoration: none;
}
.navbar{
    padding-top: 30px;
    padding-bottom: 30px;
}
.manu_bg{
    background-color: #1C1E53;
}
.manu_bg ul li a{
    padding: 0 16px !important;
    color: #BBBBCB !important;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.manu_bg ul li a:hover{
    color: #FCD980 !important;
}
.manu_bg .contact a{
    font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
color: #fff;
padding: 16px 48px;
background-color: #1C1E53;
border: 2px solid #F4F6FC;
border-radius: 41px;
margin: 16px 16px;
}
.manu_bg .contact a:hover{
    background-color: #FCD980;
    color: black;
    border: 2px solid #FCD980;
}

/* <!-- price part start --> */
#price{
    padding: 128px 0;
}
.price_head{
    text-align: center;
}
.price_head h2{
font-family: Poppins;
font-size: 48px;
font-weight: 600;
line-height: 64px;

}
.price_head p{
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 28px;
padding-bottom: 64px;
}
.main{
    background-color: #F4F6FC;
    padding-left: 48px;
    padding-right: 77px;
    border-radius: 12px;
    transition: 0.5s;
}
.main:hover{
    background-color: #1C1E53;
    color: #fff;
}
.main:hover .p_contact a{
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    padding: 16px 60px;
    border-radius: 41px;
    background-color: #FCD980;
    color: #000;
}
.main:hover .dollar h6{
    padding-left: 8px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FCD980;
    padding-top: 78px;
}
.dollar{
    display: flex;
    
}
.dollar h3{
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 64px; 
}
.dollar h6{
padding-left: 8px;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #2405F2;
padding-top: 78px;
}

.price_text h3{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 34px;  
}
.price_text p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 78px;
}
.price_list h4{
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
padding-bottom: 20px;
}
.p_contact{
padding: 62px 18px;
text-align: center;
}
.p_contact a{
font-family: Manrope;
font-size: 18px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
padding: 16px 60px;
border-radius: 41px;
background-color: #1C1E53;
color: #fff;
}
/* .p_contact a:hover{
    background-color: #FCD980;
    color: #000;
} */
.price_text_2 h3{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 34px;  
}
.price_text_2 p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left; 
    padding-bottom: 50px;
}

/* <!-- price part end --> */

/* <!-- questions part start --> */
 #questions{
padding: 128px 0; 
}
.que_text h2{
font-family: Poppins;
font-size: 36px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 16px;
}
.que_text a{
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
}

/* <!-- questions part end --> */



/* <!-- footer part start --> */
#footer{
background-color: #1C1E53;
}
.f_logo{
    padding-top: 100px;
}
.f_t p{
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #fff;
margin-top: 22px;
}
.f_t2 h2{
font-family: Poppins;
font-size: 48px;
font-weight: 600;
line-height: 64px;
letter-spacing: 0em;
text-align: left;
color: #fff;
padding-top: 100px;
}
.f_t2 p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #F4F6FC;
}
.f_cotact a{
padding-right: 26px;
}

.f_email{
    display: flex;
    background-color: #FCD980;
    padding: 17px 37px;
}
.f_e_left{
    padding-right: 29px;
}
.f_e_left h4{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    
}
.f_e_left a{
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #000;
}

.f_end{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding-bottom: 32px;
}
.f_left ul{
    list-style: none;
    display: flex;
}
.f_left ul a{
    padding-right: 32px;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 28px;
color: #000;
}
.f_left ul a:hover{
    color: #e8a90b;
    }
/* <!-- footer part end --> */